.container {
	width: 100%;
	height: 100vh;
	background: #a6a6df;
	display: flex;
	align-items: center;
}
.submit {
	max-width: 100%;
}

.custom_input_wrapper {
	position: relative;
}

.selected_file {
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	align-items: center;
	margin-top: 1rem;
}

@media screen and (max-width: 600px) {
	.container {
		background-color: white;
	}
}
