.common_header {
    position: fixed;
    width: 60%;
    z-index: 2;
}

.search_input :hover {
    border-color: #1668dc;
    outline-color: #1668dc;
}

.search_input :focus {
    border-color: #1668dc;
    outline-color: #1668dc;
}
