:root {
	--max-width: 1100px;
	--border-radius: 12px;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
	font-family: "Inter", sans-serif;
	background-color: #000;
	color: #fff;
}

body {
}

a {
	color: inherit;
	text-decoration: none;
}
:where(.css-dev-only-do-not-override-kghr11).ant-form-item
	.ant-form-item-label
	> label.ant-form-item-required:not(
		.ant-form-item-required-mark-optional
	)::before {
	content: "";
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: initial;
	}
}

.ant-layout-sider-trigger.hide {
    display:none;
}
@media screen and (max-width: 768px) {
    .page_Content__GWz0m:not(.page_collapsed__dU_7w) {
        margin-left: 5rem !important;
    }
}
@media screen and (max-width: 500px) {
    .page_Content__GWz0m:not(.page_collapsed__dU_7w) {
        margin-left: 0 !important;
    }
	:where(.css-dev-only-do-not-override-8imiip).ant-menu-inline-collapsed >.ant-menu-item {
		padding-inline: 0 !important
	}
	.ant-menu-title-content {
		display: none !important;
	}
}