.CoverPic {
    height: 20rem;
    width: 43vw;
    object-fit: cover;
    border: 3px solid grey;
    display: grid;
    place-content: center;
}
.profilePicture {
    border-radius: 50%;
    height: 9rem !important;
    width: 82% !important;

}
.user_data_container{
    margin-top: 5rem    ;
    padding:.625rem;
    display: flex;
    justify-content: space-between;
}
.profile_pic_container{
    border-radius: 50%;
    position: absolute;
    left: -1vw;
    bottom: -3rem;
}

@media only screen and (max-width: 500px) {
    .CoverPic {
        width: 100%;
        height: 12rem;
    }
    .profilePicture {
        object-fit: cover;
        width: 80% !important;
        min-height: 7rem;
        min-width: initial;
    }
    .user_data_container{
        width: 100vw;
    }
    .profile_pic_container{
        left: 2vw;
        bottom: -3rem;
    }
}
